
/* Navegador 

*/
/*boostrap*/



.container-fluid {
    display: flex;
    width: 100%;
    box-shadow: 1px 20px 20px $color5;
    border-radius: 15px;
    -webkit-text-stroke: .9px $color2;
    border: 1px $color4 solid;
    padding: 3px 4px;
    text-align: center;
    z-index: 1;
    
        
    
    & .logo1 {
        border-radius: 50%;
        box-shadow:2px 2px 8px $color2;
        
    }




    .navbar-toggler {
        position: relative;
        left: 50px;
        width: 15%;
        height: 20%;
    
    }
    .collapse {
        justify-content: center;
        z-index: 1;
        
        
        & .navbar-nav .nav-item .nav-link {
            color: $color3;
            -webkit-text-stroke: .9px $color2;
            
        }
       
        & .navbar-nav {
            display: flex;
            list-style: none;
            margin: 0 5%;
            
            
            & .nav-item {
                text-align: center;
                font-size: 1.3rem;
                margin: 15px 15px;
                text-shadow: 1px 7px 2px $color2;
                &:hover{
                    transform: scale(1.5);
                }
                & .nav-link {
                    color: $color3;
                    text-decoration:none;
                }
            }    
        
        }
        
    }
    
        
    
    
    .nav-nav .header__icono {
        display: none;
    }
    .nav__cont {
        text-align: center;

        & .nav__pet {
            display: flex;
            color: $color1;
            text-shadow: 1px 6px 4px $color2;
            -webkit-text-stroke: 1px $color2;
            
        }
        & .nav__boys {
            color: $color3;
            text-shadow: 1px 6px 2px $color2;
            -webkit-text-stroke: 1px $color2;
            text-align: center;
            margin-bottom: 0;
        }
        & p {
            margin: 0;
            text-align: center;
        }
    }
    
        
    

    .nav__menu ul li {
        margin: 10 15px;
        text-shadow: 1px 7px 2px $color2;
    

    }
    

    .nav__menu ul li a{
        color: $color3;
        text-decoration:none;
    }

    




    .nav__menu ul :hover {
        transform: scale(1.5);
    }



    .icon-wrapper {
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
    }
    .icon-wrapper::after {
        content: attr(data-number);
        width: 20px;
        height: 20px;
        background-color: $color7;
        color: $color1;
        display: grid;
        place-content: center;
        border-radius: 50%;
        position: absolute;
        top: 5px;
        right: 0;
        opacity: 0;
        transform: translateY(3px);
        
    }
    .icon-wrapper:hover::after {
        opacity: 1;
        transform: translateY(0);
        transition: opacity .25s, trasform .25s;
    }
    .bell-icon {
        max-width: 100%;
    }
    .icon-wrapper:hover .bell-icon {
        animation: shake 1s forwards;
    }
    @keyframes shake {
        100% {
            transform: rotate(15deg);
        }
        20% {
            transform: rotate(-15deg);
        }
        30% {
            transform: rotate(15deg);
        }
        50% {
            transform: rotate(0deg);
        }
    }
    #btn-menu {
        display:none;
    }
    label .header__icono {
        display: none;
        font-size: 2rem;
        padding: 10px;
        position: relative;
        top: 20px;
        left: 370px;
        color: $color3;
        text-shadow:  1px 4px 2px $color5;
        -webkit-text-stroke: .9px $color2;
        position: absolute;
    }
    label .header__icono:hover {
        cursor: pointer;
    }

    .search-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $color4;
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    
}    







