
/* servicios TIENDAS */

main {
    padding-top: 12%;
}

.id-eventos {
    
    width: 100%;
    height: 150px; 
    color: $color1;  
    text-shadow: 2px 8px 4px $color2;
    -webkit-text-stroke: 2px $color2;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.servicio {
    width: 100%;
    height: 150px; 
    color: $color1;  
    text-shadow: 4px 8px 4px $color2;
    -webkit-text-stroke: 1px $color2;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 40px;
    margin-bottom: 30px;
}


.secciones__s {
    font-family: Arial, Helvetica, sans-serif;
    color: $color10;
    display: flex;
    margin-top: 150px;
    gap: 10px;
    

    &__s {
        font-family: Arial, Helvetica, sans-serif;
        color: $color10;
        display: flex;
        margin-top: 20px;
        gap: 12px;
        margin: 0 10px;
        
    }
    
    
    & a {
        font-family: Arial, Helvetica, sans-serif;
        color: $color2;
       
    }

}



.catalogo {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}    
    .catalogo-item {
   
        color: $color3;
        text-align: center;
        box-shadow: 3px 8px 4px  $color2;
        -webkit-text-stroke: 1px $color2;
        padding: 10px;
        margin: 20px 20px;
    }
    
    
    
    
    .catalogo img {
        width: 100%;
        height: auto;
        transition: all 0.3s ease;
    }
    
    .catalogo img:hover {
        transform: rotate(-5deg);
        filter: blur(2px);
    }
    
    .catalogo .catalogo-tex {
        font-family: 'Times New Roman';
        text-align: center;
        color: $color3;
        text-shadow: 2px 4px 3px $color2;
        -webkit-text-stroke: 1px $color2;
    }
    
    p{
        color: $color3;
        text-shadow: 2px 6px 4px $color2;
        -webkit-text-stroke: 1px $color2;
    }
    
    .catalogo h2 {
        color: $color1;
        text-shadow: 2px 6px 6px $color2;
        -webkit-text-stroke: 1px $color2;
    }
    
    
    .catalogo-item .button-btn {
        text-decoration: none;
        
        background: $color3;
        width: 100%;
        box-shadow: 2px 7px 3px  $color6;
        border-style: 8px double;
        display: block;
        width: 30%;
        margin: 10px auto;
        color: $color1;
        text-shadow: 1px 6px 4px $color2;
        -webkit-text-stroke: .5px $color2;
        height: 30px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid $color4;
    }
    .catalogo-item button-btn {
        display: grid;
        margin: auto;
    }
    .button {
        display: inline-block;
        color: $color3;
        text-shadow: 1px 5px 4px $color2;
        -webkit-text-stroke: 0.5px $color2;
        padding: 10px 20px;
        border: 3px solid $color4;
        border-radius: 10px;
    }
    
    
    .button-btn:hover {
        animation: pulsate 1s ease-in-out;
        transform: scale(1.2);
    }
    @keyframes pulsate {
        0% {
            box-shadow: 0 0 25px $color8, 0 0 50px;
    
        }
    }
    
    .logo:hover {
        transform: scale(1.3);
    }
    
    
    .catalogo-item  .purina {
        width: 150px;
        
    }
