$color1: #ffffff;
$color2: #000000;
$color3: #fb8e4b;
$color4: #2f3640;
$color5: rgba(10, 10, 10, 0.5);
$color6: rgba(0,0,0,0.03);
$color7: #d32b2b;
$color8: #21dfcd;
$color9: #536179;
$color10: #069;
$color11: #616161;
$color12: hsla(0, 0%, 44%, 0.849);
$color13: rgba(212, 209, 209, 0.5);
$color14: rgba(186, 209, 253, 0.5);
$background: #bdbaba;
$background: #fad8af;